<nav>
  <ul class="menu bg-base-300 rounded-box w-56">
    <li>
      <.link patch={~p(/plan_items)}>
        <Shared.icon name="menu" /> Schedule
      </.link>
    </li>
    <li>
      <.link patch={~p(/plan_items/new)}>
        <Shared.icon name="add" /> Add a schedule item
      </.link>
    </li>
  </ul>
</nav>
