<header>
  <h1 class="bg-base-300 p-2 text-lg">
    <.link patch={~p(/)}>FemtoPlanner</.link>
  </h1>
</header>
<main class="m-2">
  <div>
    <%= @inner_content %>
  </div>
</main>
<footer class="bg-base-200 p-2 text-sm">
  &copy; 2024 Coregenik Inc.
</footer>
