<div class={field_name_class()}>Start date and time</div>
<div class={field_value_class()}>
  <%= format_datetime(@plan_item.starts_at) %>
</div>
<div class={field_name_class()}>End date and time</div>
<div class={field_value_class()}>
  <%= format_datetime(@plan_item.ends_at) %>
</div>
