<div class={field_name_class()}>Start date</div>
<div class={field_value_class()}>
  <%= format_date(@plan_item.starts_on) %>
</div>
<div class={field_name_class()}>End datee</div>
<div class={field_value_class()}>
  <%= format_date(@plan_item.ends_on) %>
</div>
