<div class="p-4">
  <%= for item <- @plan_items do %>
    <div class="grid grid-cols-1 md:grid-cols-2 bg-base-300 m-2 p-2">
      <.link
        patch={~p(/plan_items/#{item.id})}
        class="font-bold underline"
      >
        <%= item.name %>
      </.link>
      <div>
        <.description item={item} />
      </div>
      <div class="col-span-1 md:col-span-2 text-sm">
        <.duration item={item} />
      </div>
    </div>
  <% end %>
</div>
